body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.header-image {
    height: 100vh;
    background: url('../img/carousel1.jpg') no-repeat center center/cover;
}

.section-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-section {
    padding: 30px 0;
}


.footer {
    background-color: #00aeef;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p, .footer div {
    display: inline-flex;
    margin: 0;
}
.icon {
    font-size: 24px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    #quienes-somos {
        display: none;
    }
}

/* Navbar background scroll effect */
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Change to your desired solid color */
}
